{% extends "base_generic.html" %}

{% block content %}

<form method="post" action="{% url 'login' %}" class="mt-4 form-login">
    {% csrf_token %}

    {% if form.errors %}
    <h2 class="h3 mb-3 fw-normal">Your username and password didn't match. Please try again.</h2>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <h2 class="h3 mb-3 fw-normal">Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</h2>
    {% else %}
    <h2 class="h3 mb-3 fw-normal">Please login to see this page.</h2>
    {% endif %}
    {% endif %}
    <div class="mb-3">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required
            autofocus>
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <input type="hidden" name="next" value="{{ next }}" />
    <p class="mt-4"><a href="{% url 'password_reset' %}">Lost password?</a></p>
</form>

{% endblock %}