.form-login {
  max-width: 30em;
  margin: auto;
}

:root {
  --bg-primary: white;
  --bg-dropdown: white;
  --text-primary: black;
  --text-dark-default: #212529;
}

.dark {
  /* --bg-primary: hsl(220, 5%, 10%); */
  --bg-primary: hsl(204, 10%, 10%);
  --text-primary: hsl(0, 0%, 85%);
  --text-dark-default: hsl(0, 0%, 54%);
  --bg-dropdown: #212529;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

.dropdown-menu {
  color: var(--text-dark-default);
  background-color: var(--bg-dropdown);
}

.dropdown-item {
  color: var(--text-dark-default);
}

input,
select,
textarea {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.form-control {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
