{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <h1>Borrowed books</h1>
  {% if bookinstance_list %}
  <ul>
    {% for bookinst in bookinstance_list %}
    <li class="{% if bookinst.is_overdue %}bg-danger text-white{% endif %}">
      <a href="{% url 'book-detail' bookinst.book.pk %}" class="{% if bookinst.is_overdue %}text-white{% endif %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p align="center">There are no books borrowed.</p>
  {% endif %}
</div>
{% endblock %}
