{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <h1>Book List</h1>
  <p>This list of books can be dynamically modified by administrators (superusers) or staff accounts (elevated permissions).</p>
  {% if book_list %}
  <ul>
    {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
</div>
{% endblock %}
